body, 
html {
	;
	família da fonte: 'Roboto', sans-serif;
}


#header {
	width: 100%;
	background-color: transparent;
	transition: background ease-out 0.2s;
	overflow: hidden;
}

.logo2 {
	margin-right: 100%;
	height: 70px;
}
 
        .logo1 {
        height: 100%;      
        width: 250px;
      }

#header.active {
	position: fixed;
	background: #fff;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
	z-index: 9999;

}	

#header .navbar-collapse {
	width: auto;

}

#header .nav-link {
	text-transform: uppercase;
	font-weight: 500;
	padding-left: 0;
	padding-right: 0;
	color: #000;
	border-bottom: solid 4px transparent;
}
#header .nav-link:hover {
	border-bottom: solid 4px var(--secondary); 
	color: var(--secondary);
}

#slider {
	background: url(../img/slider-bg.svg) no-repeat center bottom;
	background-size: contain;
}

#slider h1 {
	text-transform: uppercase;
	font-weight: 900;
}

#slider h4 {
	font-size: 18px;
	text-transform: uppercase;
}

#serviços a.destaque {
	display: block;
	background:var(--ligth);
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	color: #000;
	text-decoration: none;
	transition: all ease-out 0.2s;
}

#serviços a.destaque:hover {
	background:#fff;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.12);
	transform: scale(1.05);
}

#serviços p {
	color: var(--dark);
}

#serviços a.destaque .img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
}
#serviços a.destaque .img-container img {
	max-height: 160px;
}

#clientes a.link-cliente {
	padding: 0 15;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 1px var(--ligth);
	height: 100px;
	transition: ease-out all 0.2s;
}

#clientes a.link-cliente:hover {
	transform: scale(1.2);
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
	
}

#clientes a.link-cliente img {
	filter: grayscale(100%);
	max-height: 70px;
	width: 100%; 
	opacity: 0.6;
}

#clientes a.link-cliente:hover img {
	filter: none;
	opacity: 1;
}

#clientes .cliente-texto {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
	background-color: var(--ligth);
	border-radius: 5px;
}

#clientes .cliente-texto .imagem {
	padding: 60px 0;
	display: flex;
	align-items: center;
	margin-left: -70px;
	color: #b4b4b4;
	font-size: 24px;
	line-height: 26px;
}

#clientes .cliente-texto .imagem span {
	color: var(--secondary);
	font-size: 110px;
	line-height: 110px;
	letter-spacing: -10px;
	font-weight: 900;
	display: block;
}

#clientes .cliente-texto .telefone {
	display: flex;
	font-size: 14px;
	color: #b4b4b4;
}

#clientes .cliente-texto .telefone span {
	font-size: 25px;
	color: #797979;
	font-weight: 900;
	display: block;
}

#depoimentos .depoimento {
	background-color: var(--ligth);
	border-radius: 5px;
	display: flex;
	padding: 30px;
	overflow: hidden;
}
#depoimentos p {
	text-align: center;
	font-weight: 15px;
}

#depoimentos .depoimento .quote {
	max-width: 35px;

}

#depoimentos .depoimento .name {
	color: #aaaaaa;

}

#depoimentos .depoimento .name span {
	color: #000;
	font-weight: 700;
}

#contato .email img {
	width: 90px;
	top: -40px;
}

#contato .email {
	border-radius: 5px;
	background-color: var(--secondary);
	color: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 120px 30px;  
}

#contato .email img {
	position: absolute;
	left: 30px;
	top: -35px;

}

#contato ul {
	margin: 0;
	padding: 0;
	display: flex;
	text-align: left;
}

#contato ul li {
	display: flex;
	list-style-type: none;
	margin-left: 25px;
}

#contato ul li:first-child {
	margin-left: 0;
}

#contato ul li a {
	display: flex;
	width: 40px;
	height: 50px;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	transition: all ease-out 0.2s;
}
#contato ul li a:hover {
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
	background-color: #fff;
} 
#contato ul li img {
	max-height: 30px;

}
#footer {
	text-align: center;
}

#id {
	background-color: red;
}
